@import '~office-ui-fabric-react/dist/sass/References.scss';

.customContainer {
    height: 300px;
}

.datePosition {
    float: right;
    margin-top: -38px;
}

div[class^='details_'] {
    top:75% !important;
 }